.rollup-box {
    width: 30px;
    height: 30px;
    background-color: #068dda;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 15px;
}

.icon-rollup {
    widows: 10px;
    height: 10px;
    color: #fff;
}

.footer {
    margin-top: 40px;
    width: 100%;
    background-color: #000;
    color: #fff;
    position: relative;

    &-box-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0 32px;
        padding: 40px 0;
    }

    &-box {
        display: flex;
        flex-direction: column;
        color: #fff;
    }

    &-heading {
        line-height: 26px;
        font-size: 18px;
    }

    &-list {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        line-height: 26px;

        .subscribe {
            margin-top: 5px;
        }

        .subscribe-link {
            box-sizing: content-box;
            background-color: #068dda;
            color: #fff;
            padding: 10px 20px;
            line-height: 27px;
            margin-top: 50px;
        }
    }

    &-more {
        display: flex;
        gap: 20px;
        justify-content: center;
        padding: 30px 0;

        &-item {
            display: inline-block;
            font-size: 15px;
        }
    }

    &-themeby {
        font-size: 15px;
        text-align: center;
    }

    &-connect {
        display: flex;
        gap: 0 15px;
        justify-content: center;
        padding: 20px 0 32px;

        .icon-wrapper {
            width: 26px;
            height: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--clr);
            border-radius: 50%;
        }

        .icon {
            width: 15px;
            height: 15px;
        }
    }
}

.wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

@media screen and (max-width: 1180px) {
    .footer {
        padding: 0 40px;
    }
}

@media screen and (max-width: 780px) {
    .footer {
        padding: 0 15px;

        &-box-list {
            display: flex;
            flex-direction: column;
            gap: 40px 0;
        }
    }
}
