.form {
    margin-top: 32px;
    &-title {
        font-size: 18px;
        margin-bottom: 20px;
    }

    &-desc {
        margin-bottom: 23px;
    }

    &-boxlist {
        display: flex;
        flex-direction: column;
        gap: 16px 0;
    }

    &-box {
        display: flex;
        flex-direction: column;
    }

    &-heading {
        line-height: 26px;
    }

    &-input {
        padding: 13px;
        border: 1px solid #e9e9e9;
        outline: none;

        &:focus {
            border-color: #0099e5;
            color: #0099e5;
        }
    }

    &-save {
        display: flex;
        gap: 0 7px;
    }

    &-submitbox {
        display: inline;
    }
    &-submit {
        padding: 10px 30px;
        background-color: #0099e5;
        display: inline;
        color: #fff;
    }
}

textarea {
    height: 120px;
}