.icons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 9px;
}

.icon-box {
    display: flex;
    height: 33px;
    gap: 10px;
    align-items: center;
}

.icon-box:hover {
    transform: scale(1.1);
    transition: all 0.1s linear;
}

.icon {
    color: var(--icon-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}

.followus-name {
    cursor: pointer;
}