.post-horizontal {
    width: 100%;
    display: flex;
    gap: 23px;

    &-image {
        width: 240px;
        height: 160px;
        object-fit: cover;
    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &-metadata {
        display: flex;
        gap: 15px;
    }

    &-desc {
        display: -webkit-box;
        width: 100%;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: #888888;
        line-height: 22px;
    }

    &-title {
        font-size: 1.5rem;

        &:hover {
            color: #0099e5;
        }
    }
    &-author {
        font-weight: bold;
    }
}